*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#texts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: 500px;
    font-size: 50px;
    background-color: red;
    margin-top: 20px;
}